body {
	padding: 10px;
	margin: 0;
	font: 14px/1.5 Lato, "Verdana", Times New Roman, Helvetica, Arial,
		sans-serif;
}

ul {
	margin:0;
}

h1,h2,h3 {
	margin: 0 0 10px;
	text-align: center;
}

h1 {
	font-size: 30px;
}

a {
	color: #39c;
	text-decoration: none;
	
	
}

header {
	width: 100%;
	position: relative;
	text-align: center;
}

aside {
	float: left;
	width: 25%;
}

section {
	width: 72%;
	float: right;
	display: none;
	text-align: justify;
	padding: 0 10px 10px 10px;
}

.my-name {
	margin: 0 0 20px 0;
}

pre {
	white-space: pre-wrap;
	margin: 10px 0 20px 0;
}

.name-task {
	padding: 0 10px 10px 10px;
}

.name-task li {
	text-overflow: ellipsis;
	white-space: nowrap;
	list-style-position: inside;
	overflow:hidden;
}