.large {
	visibility:hidden;
	position:absolute;
}
.block {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	z-index:1;
	
}
.block-background {
	background-color:black;
	opacity : 0.2;
	filter : alpha(opacity=20);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.imagLarge {
	position: relative;
	display: inline-block;
	visibility:visible;
	z-index:3;
	
}
.closeImage {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	z-index:4;
}
